!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title FurnitureApp
		= stylesheet_link_tag		'admin'
		= javascript_include_tag 'admin'
		= csrf_meta_tags
	%body
		#main
			= render "layouts/admin/header"
			= render "layouts/admin/sidebar"
			%section#content_wrapper
				= render 'layouts/admin/topbar'
				- flash.each do |name, msg|
					-classname = "alert alert-#{name} alert-dismissable"
					=content_tag :div, msg, class: classname
				%section#content.table-layout
					.tray.tray-center
						= yield
